
@media(min-width:765px){
.m-detalle{
  margin-top:1.5em;
}


.content-datos{
  width:100%;
  min-height:160px;
  margin:0;
  padding:0;
  display:flex;
  justify-content:space-around;
}

.d-detallep{
  overflow:hidden;
  width:100%;
  margin:0;
  padding:0;
}

.td-pedido{
  width:100%;
  margin:0;
  padding:0;
}

.c-pedidod{
  font-size:.8em;
  border-bottom:1px solid #CFCFD6;
  background:#F1F1F3;
}


.b-pedidod{
  font-size:.8em;
}


.b-pedidod tr{
  border-bottom:1px solid #CFCFD6;
}

.b-pedidod tr:last-child{
  border-bottom:none;
}


.b-pedidod tr td{
  padding:.5em 0;
  
}

.estatus-pe{
  width:150px;
  padding:0 .5em;
  border-left:1px solid #CFCFD6;
  display:flex;
  align-items:center;
  justify-content:center;
}


/*--Tableta para el total del pedido*/
.content-est-t{
	width:150px;
}

.es-t{
	width:150px;
  margin:0;
  padding:0;
  display:flex;
  align-items:center;
}

.text-t-p{
  margin:0;
  text-align: center;
}

#con-pd, #confrim-e, .cancel-e, .cancel-r{
	width:150px;
}

.modal-conf-estat{
  justify-content:flex-start;
  #con-pd{
    width:100px;
    font-size:1em;
  }
}



}


